@model Paharamacyapi.Models.Drugs


<form method="post">

    @*using the below because when we are updatig the data it is showing the previous on only.*@
    @*<input asp-for="CartId" hidden/>*@
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Edit Category</h2>
            <hr/>
        </div>

        @*creating serverside validation*@
        <div asp-validation-summary="All"></div>

        <div class="mb-3">
            @*using asp helper tags to use property from model 'asp-for="CatName" '*@
            <label >Category Id</label>
            <input asp-for="Id" class="form-control" />
@*            <span asp-validation-for="CatId" class="text-danger"/>
*@        </div>
        <div class="mb-3">
            <label>Category Name</label>
            <input asp-for="DrugName" class="form-control" />
@*            <span asp-validation-for="CatName" class="text-danger" />
*@
        </div>
        <div class="mb-3">
            <lable>Quantity</lable>
            <input asp-for="Quantity" class="form-control" />
@*            <span asp-validation-for="Quantity" class="text-danger" />
*@
        </div>
        <div class="mb-3">
            @*using asp helper tags to use property from model 'asp-for="CatName" '*@
            <label>Price</label>
            <input asp-for="Price" class="form-control" />
@*            <span asp-validation-for="Price" class="text-danger" />
*@
        </div>
        <button type="submit" class="btn btn-primary" style="width:150px">Update</button>
        <a asp-controller="Category" asp-action="Index" class="btn btn-secondary">
            Back To List
            </a>
    </div>

</form>

@*            adding for clientside validation*@

                @section Scripts{
                    @{
                        <Partial name="_ValidationScriptsPartial" />
                    }
                }
